.row {
    display: flex;
}

.column {
    flex: 1;
}

.verticalLayout {
    display: flex;
    flex-direction: column;
}

.columnZero {
  flex: 20;
  border-radius: 10px;
  background-color: lightgray;
}

.columnOne {
    flex: 35;
    border-radius: 10px;
    background-color: lightgray;
}

.columnTwo {
    flex: 80;
}

#wartext {
    font-family: courier;
    color: black;
}

#titletext {
    font-family: courier;
    color: black;
    text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

#annotationtext {
    font-family: courier;
    color: black;
    font-size: 14px;
}

mark {
  background-color: white;
  color: black;
  opacity: 0.8;
}

#warTOCHyperlink {
    position:absolute;
    top:0;
    right:0;
    font-size:24px;
    color:red;

}

#wartextHyperlink {
    font-family: courier;
    font-weight: bold;
    color: black;
}

#wartextHyperlink:hover {
    color: blue;
}
